<!-- Services Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 500px;">
            <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Departments</h5>
            <h1 class="display-4">World Class Doctors</h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4">
                        <i class="fa fa-2x fa-stethoscope text-white"></i>
                    </div>
                    <h4 class="mb-3">ENT</h4>
                    <p class="m-0">Comprehensive Care, Focused on Your Senses - MedC's ENT Department offers specialized treatments for ear, 
                        nose, and throat conditions, ensuring your well-being.</p>
                         <a class="btn btn-lg btn-primary rounded-pill" href="">
                            <i class="bi bi-arrow-right"></i>
                        </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4">
                        <i class="fa fa-2x fa-heart text-white"></i>
                    </div>
                    <h4 class="mb-3">Cardiology</h4>
                    <p class="m-0">Advanced Heart Care, Saving Lives - MedC's Cardiology Department specializes in diagnosing and treating 
                        heart conditions, providing comprehensive cardiovascular care.</p>
                        <a class="btn btn-lg btn-primary rounded-pill" href="">
                            <i class="bi bi-arrow-right"></i>
                        </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4">
                        <i class="fa fa-2x fa-brain text-white"></i>
                    </div>
                    <h4 class="mb-3">Neurology</h4>
                    <p class="m-0">Expertise in Brain Health, Restoring Function - MedC's Neurology Department offers specialized care for 
                        neurological disorders, ensuring optimal brain health and improved quality of life.</p> 
                        <a class="btn btn-lg btn-primary rounded-pill" href="">
                            <i class="bi bi-arrow-right"></i>
                        </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4">
                        <i class="fa fa-2x fa-capsules text-white"></i>
                    </div>
                    <h4 class="mb-3">Oncology</h4>
                    <p class="m-0">Compassionate Cancer Care, Fighting Together - MedC's Oncology Department provides comprehensive treatments 
                        and support for patients battling cancer, promoting healing and hope.</p>
                        <a class="btn btn-lg btn-primary rounded-pill" href="">
                            <i class="bi bi-arrow-right"></i>
                        </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4">
                        <i class="fa fa-2x fa-bed text-white"></i>
                    </div>
                    <h4 class="mb-3">Orthopedics</h4>
                    <p class="m-0">Restoring Mobility, Relieving Pain - MedC's Orthopedics Department offers advanced treatments and 
                        surgical interventions for bone and joint conditions, ensuring optimal musculoskeletal health.</p>
                        <a class="btn btn-lg btn-primary rounded-pill" href="">
                            <i class="bi bi-arrow-right"></i>
                        </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4">
                        <i class="fa fa-2x fa-child text-white"></i>
                    </div>
                    <h4 class="mb-3">Pediatrics</h4>
                    <p class="m-0">Expert Care for Little Ones, Nurturing Their Health - MedC's Pediatrics Department provides specialized 
                        medical attention for children, ensuring their well-being and happy development.</p>
                        <a class="btn btn-lg btn-primary rounded-pill" href="">
                            <i class="bi bi-arrow-right"></i>
                        </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services End -->